@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}


h1,body { margin: 0;}


header { 
    background-image: linear-gradient(rgb(193, 209, 252), white );
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 24px;
    height: 20vh;
    text-align: center;
}


h1 {color: rgb(49, 107, 173);
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size:26px;
    font-family: Lato, sans-serif;
    margin-top: 10px;
}



h2 { color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size:16px;
    font-family: Lato, sans-serif;
}


h3 { color: rgb(49, 107, 173);
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size:24px;
    font-family: Lato, sans-serif;
}


header a {
    background-color: rgb(86, 126, 238);
    color: white;
    border-radius: 5px;
    border: 1px dashed white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 110px;
    height: 35px;
    margin: auto;
    line-height: 35px;
    transition: all 3s;
    font-weight: 300;
    font-size:14px;
    font-family: Lato, sans-serif;
    text-align: center;
}


a:hover {
    background-color: rgb(23, 42, 95);
    border-color: white;
    color: white;   
}

img { 
    width: 100%;
}



main { 
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px; 
}

div {
    width: 45%;
    margin-top: 40px; 
}


video {
    width: 90%;
    display: block;
    margin: 40px auto;   
}

.miCuadrado {
        width: 100px;
        height: 100px;
        animation-name: miAnimacion;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
        margin: auto;
  
    }
    
    @keyframes miAnimacion {

        0%{ background-color: rgb(86, 126, 238);border-radius: 20%;}
    
        100%{ background-color: rgb(0, 0, 0);transform: rotateY(360deg) rotateX(360deg); border-radius: 20%; }

    }

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(233, 240, 254);
    margin-top: 35px;
}

h4 { 
    color: black;  
    font-weight: 300;
    font-size:14px;
    font-family: Lato, sans-serif;
    text-align: center; 
}












